* {
  margin: 0;
}

body {
  background-color: #f5f5f5;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MulCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}